{% extends 'base.html' %}
{% load static %}
{% block title %}
  Display Category | VibeDrobe
{% endblock %}

{% block css %}
  <!-- App favicon -->
  <link rel="shortcut icon" href="{% static 'admin/assets/images/logo.png' %}" />

  <link rel="stylesheet" href="{% static 'admin/assets/libs/vanilla-datatables/vanilla-dataTables.min.css' %}" />
  <link rel="stylesheet" href="{% static 'admin/assets/libs/vanilla-datatables-editable/datatable.editable.min.css' %}" />
  <!-- App css -->
  <link href="{% static 'admin/assets/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'admin/assets/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'admin/assets/css/app.min.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
  <div class="page-wrapper">
    <!-- Page Content -->
    <div class="page-content">
      <div class="container-xxl">
        <div class="row justify-content-center">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <div class="row align-items-center">
                  <div class="col-auto">
                    <h4 class="card-title">View Categories</h4>
                  </div>
                  <!-- end col -->
                  <div class="col-auto ms-auto">
                    <div class="bg-primary-subtle p-2 border-dashed border-primary rounded">
                      <span class="text-primary fw-semibold">Note :</span><span class="text-primary fw-normal">if you want to data edit do double click on a table row.</span>
                    </div>
                  </div>
                  <!-- end col -->
                </div> <!-- end row -->
              </div>
              <!-- end card-header -->
              <div class="card-body pt-0">
                <div class="table-responsive">
                  <table class="table">
                    <thead class="table-light">
                      <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1</td>
                        <td>Bottoms</td>
                        <td>   
                          <a href="#"><i class="las la-pen text-secondary fs-18"></i></a>
                          <a href="#"><i class="las la-trash-alt text-secondary fs-18"></i></a>
                      </td>
                      </tr>
       
                    </tbody>
                  </table>
                </div>
              </div>
              <!-- end card-body -->
            </div>
            <!-- end card -->
          </div> <!-- end col -->
        </div>
        <!-- end row -->
      </div>
      <!-- container -->
      <!-- Start Rightbar -->
      <!-- Start Rightbar/offcanvas -->
   
      <!-- end Rightbar/offcanvas -->
      <!-- end Rightbar -->
      <!-- Start Footer -->

      <footer class="footer text-center text-sm-start d-print-none">
        <div class="container-xxl">
          <div class="row">
            <div class="col-12">
              <div class="card mb-0 rounded-bottom-0">
                <div class="card-body">
                  <p class="text-muted mb-0">
                    {% comment %} ©<script>
                       document.write(new Date().getFullYear())
                     </script> {% endcomment %}
                    <span class="text-muted d-none d-sm-inline-block float-end">
                      VibeDrobe
                      <i class="iconoir-heart text-danger"></i>
                   
                    </span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>

      <!-- end footer -->
    </div>
    <!-- end page content -->
  </div>
  <!-- end page-wrapper -->
{% endblock %}

<!-- Javascript -->

{% block script %}
  <script src="{% static 'admin/assets/libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'admin/assets/libs/simplebar/simplebar.min.js' %}"></script>
  <script src="{% static 'admin/assets/libs/vanilla-datatables/vanilla-dataTables.min.js' %}"></script>
  <script src="{% static 'admin/assets/libs/vanilla-datatables-editable/datatable.editable.min.js' %}"></script>
  <script src="{% static 'admin/assets/js/pages/editable.init.js' %}"></script>
  <script src="{% static 'admin/assets/js/app.js' %}"></script>
{% endblock %}
<!-- end body -->
